@Model Starship
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewStarship</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">You Chose @Model.Name</h1>
    </div>
    <br />
    <div>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Cost (in Credits)</th>
                <th>Length (ft.)</th>
                <th>Max Atmosphering Speed</th>
                <th>Crew</th>
                <th>Passengers</th>
                <th>Cargo Capacity (lbs.)</th>
                <th>Consumables (months)</th>
                <th>Hyperdrive Rating</th>
                <th>Starship Class</th>
            </tr>
            <tr>
                <td>
                    @Model.Name;
                </td>
                <td>
                    @Model.Model;
                </td>
                <td>
                    @Model.Manufacturer;
                </td>
                <td>
                    @Model.Cost;
                </td>
                <td>
                    @Model.Length;
                </td>
                <td>
                    @Model.MaxAtmospheringSpeed;
                </td>
                <td>
                    @Model.Crew;
                </td>
                <td>
                    @Model.Passengers;
                </td>
                <td>
                    @Model.CargoCapacity;
                </td>
                <td>
                    @Model.Consumables;
                </td>
                <td>
                    @Model.HyperdriveRating;
                </td>
                <td>
                    @Model.StarshipClass;
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
